.center_flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center_grid {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-rows: 1fr 2fr 1fr;
}

.hidden {
  display: none;
}
